/**
* @name Paradise
* @description Discord Recolour - Paradise
* @author Fluffy Bean
* @version 1.1
 */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);

:root {
	/*	General Font				*/
	--font: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
	/*  Use Settings Icons - Settings: 1 yes, 0 no  */
	--settingsicons: 1;

	--accentcolor: 140, 151, 125;
	--accentcolor2: 140, 151, 125;
	--linkcolor: 140, 151, 125;
	--mentioncolor: 140, 151, 125;
	--successcolor: 140, 151, 125;
	--warningcolor: 217, 178, 140;
	--dangercolor: 182, 100, 103;

	--textbrightest: 232, 227, 227;
	--textbrighter: 232, 227, 227;
	--textbright: 192, 187, 187;
	--textdark: 172, 167, 167;
	--textdarker: 152, 147, 147;
	--textdarkest: 132, 127, 127;

	--backgroundaccent: 30, 30, 30;
	--backgroundprimary: 21, 21, 21;
	--backgroundsecondary: 21, 21, 21;
	--backgroundsecondaryalt: 21, 21, 21;
	--backgroundtertiary: 21, 21, 21;
	--backgroundfloating: 21, 21, 21;
}