/*
*                           _             _
* __      ____ _ _ __ _ __ (_)_ __   __ _| |
* \ \ /\ / / _` | '__| '_ \| | '_ \ / _` | |
*  \ V  V / (_| | |  | | | | | | | | (_| |_|
*   \_/\_/ \__,_|_|  |_| |_|_|_| |_|\__, (_)
*                                   |___/
*   This will not work on its own, you NEED spicetify
*   WITH the dribbblish theme installed
*   AND custom CSS plugin, then and ONLY THEN can you paste
*   this into the custom CSS section.
*/


/*== GRUVBOX THEME ===================================================*/
/*:root {
  --spice-text: #fbf1c7;
  --spice-subtext: #d5c4a1;
  --spice-sidebar-text: #fbf1c7;
  --spice-main: #504945;
  --spice-sidebar: #292828;
  --spice-player: #665C54;
  --spice-card: #3c3836;
  --spice-shadow: #202020;
  --spice-selected-row: #d5c4a1;
  --spice-button: #a89984;
  --spice-button-active: #d65d0e;
  --spice-button-disabled: #bdae93;
  --spice-tab-active: #fb4934;
  --spice-notification: #8ec07c;
  --spice-notification-error: #d79921;
  --spice-misc: #BFBFBF;
}
.iB16LxoPzDeVZo8zPhPQ, 
.rezqw3Q4OEPB1m4rmwfw,
.main-trackList-trackListHeaderStuck.main-trackList-trackListHeader,
.main-card-card {
  background-color: #504945;
}*/
/*====================================================================*/


/*== PARADICE THEME ==================================================*/
:root {
  --spice-text: #e3e3e3;
  --spice-subtext: #e3e3e3;
  --spice-sidebar-text: #151515;
  --spice-main: #151515;
  --spice-sidebar: #e3e3e3;
  --spice-player: #665C54;
  --spice-card: #3c3836;
  --spice-shadow: #202020;
  --spice-selected-row: #d5c4a1;
  --spice-button: #8C977D;
  --spice-button-active: #8C977D;
  --spice-button-disabled: #bdae93;
  --spice-tab-active: #fb4934;
}
.iB16LxoPzDeVZo8zPhPQ, 
.rezqw3Q4OEPB1m4rmwfw,
.main-trackList-trackListHeaderStuck.main-trackList-trackListHeader,
.main-card-card {
  background-color: #151515;
}
/*====================================================================*/


.main-contextMenu-menu,
.JdlKTdpMquftpMwwegZo,
.CmkY1Ag0tJDfnFXbGgju,
.main-coverSlotExpanded-container,
.main-heroCard-card,
.main-trackList-trackListRow,
.main-card-card {
  border-radius: 16px;
}
.main-image-image, 
.main-trackList-rowImage {
  border-radius: 8px;
}
.main-trackList-trackListHeaderRow,
.main-trackList-trackListHeaderStuck.main-trackList-trackListHeader {
  border-bottom: 0;
}
